Repository dolysis/dolysis, changes with the labels that .github/labeler.yml gives for each.
All labels: @do-fin, @do-run, @do-mod, @interface, dep-change, workflow, documents, examples

no ci: update .github files
  .github/workflows/autolabeler.yml
  .github/workflows/quick-checks.yml
  .github/workflows/tests-and-clippy.yml
Labels: workflow

no ci: update docker
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/settings.json
Labels: none

no ci: update Dockerfile
  .devcontainer/Dockerfile
  .vscode/settings.json
Labels: none

improved cli's tcp subcommand
  loopframe/src/cli.rs
  loopframe/src/models.rs
Labels: none

add hostname resolution for tcp bind
  skipframe/src/cli.rs
  skipframe/src/models.rs
Labels: none

standardized tcp cli options
  formframe/src/cli.rs
  formframe/src/main.rs
  formframe/src/models/tcp.rs
Labels: none

clippy lints
  formframe/src/models/tcp.rs
Labels: none

clippy lints
  formframe/src/models/tcp.rs
  skipframe/src/process.rs
Labels: none

standardized tcp cli options (#29)
  formframe/src/cli.rs
  formframe/src/main.rs
  formframe/src/models/tcp.rs
  skipframe/src/process.rs
Labels: none

remove unused
  loopframe/src/models.rs
  skipframe/src/cli.rs
Labels: none

feature/standardized cli tcp (#31)
  loopframe/src/cli.rs
  loopframe/src/models.rs
  skipframe/src/cli.rs
  skipframe/src/models.rs
Labels: none

fixed bad cli option
  formframe/src/cli.rs
  loopframe/src/cli.rs
  skipframe/src/cli.rs
Labels: none

fixed bad cli option (#32)
  formframe/src/cli.rs
  loopframe/src/cli.rs
  skipframe/src/cli.rs
Labels: none

added dockerfiles for binaries
  formframe/Dockerfile
  loopframe/Dockerfile
  skipframe/Dockerfile
  skipframe/src/cli.rs
Labels: none

Update Docker File
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

Add jshint to the image
  .devcontainer/Dockerfile
Labels: none

no ci: Update Container
  .devcontainer/devcontainer.json
Labels: none

no ci: remove duplicate
  docs/readme.md
Labels: documents

no ci: remove duplicate
  docs/README.md
Labels: documents

no ci: import docker files from feature/dockerfiles
  do-fin/Dockerfile
  do-mod/Dockerfile
  do-run/Dockerfile
Labels: @do-fin, @do-run, @do-mod

no ci: upgrade modules
  Cargo.lock
  Cargo.toml
  do-fin/Cargo.toml
  do-fin/src/error.rs
  do-fin/src/models/mod.rs
  do-fin/src/models/tcp.rs
  do-mod/Cargo.toml
  do-mod/src/local.rs
  do-mod/src/models.rs
  do-run/Cargo.toml
  do-run/src/models.rs
  do-run/src/output.rs
  do-run/src/process.rs
  docs/philosophy/README.md
  lib-serde/.gitignore
  lib-serde/Cargo.toml
  lib-serde/src/error.rs
  lib-serde/src/lib.rs
  lib-serde/src/markers.rs
  lib-serde/src/record.rs
  lib-serde/src/tokio_cbor.rs
  lib-serde/src/traits.rs
Labels: @do-fin, @do-run, @do-mod, documents

no ci: Dockerfile configs
  .dockerignore
  examples/docker/Dockerfile
  examples/docker/do-fin.dockerfile
  examples/docker/do-mod.dockerfile
  examples/docker/do-run.dockerfile
Labels: examples

no ci: update toml files
  do-fin/Cargo.toml
  do-mod/Cargo.toml
  do-run/Cargo.toml
  lib-serde/Cargo.toml
Labels: @do-fin, @do-run, @do-mod

Updated to lates moudules
  Cargo.lock
  do-fin/Cargo.toml
  do-mod/Cargo.toml
  do-run/Cargo.toml
  lib-serde/Cargo.toml
Labels: @do-fin, @do-run, @do-mod

.github/labeler.yml:

"@do-fin":
  - "do-fin/**/*"

"@do-run":
  - "do-run/**/*"

"@do-mod":
  - "do-mod/**/*"

"@interface":
  - "serde_interface/**/*"

dep-change:
  - "*/**/Cargo.lock"

workflow:
  - ".github/**/*"

documents:
  - "docs/**/*"

examples:
  - "examples/**/*"
